.metadata
.DS_Store
*.bak
*-bak
/.setup_hook.sh
/ESPNTPServer/.ino.cpp
/ESPNTPServer/.project
/ESPNTPServer/.cproject
/ESPNTPServer/.settings
/ESPNTPServer/Release
/ESPNTPServer/Debug
/ESPNTPServer/libraries
/ESPNTPServer/core
/ESPNTPServer/spec.d
/RemoteSystemsTempFiles
