[submodule "hardware/esp8266com/esp8266"]
	path = hardware/esp8266com/esp8266
	url = https://github.com/esp8266/Arduino.git
[submodule "libraries/DLog"]
	path = libraries/DLog
	url = https://github.com/liebman/DLog.git
[submodule "libraries/DLogNet"]
	path = libraries/DLogNet
	url = https://github.com/liebman/DLogNet.git
[submodule "libraries/MicroNMEA"]
	path = libraries/MicroNMEA
	url = https://github.com/liebman/MicroNMEA.git
	branch = handle-empty-date-or-time
[submodule "libraries/WiFiManager"]
	path = libraries/WiFiManager
	url = https://github.com/liebman/WiFiManager.git
	branch = stdfunc
[submodule "libraries/esp8266-oled-ssd1306"]
	path = libraries/esp8266-oled-ssd1306
	url = https://github.com/liebman/esp8266-oled-ssd1306.git
        branch = cleanup-warnings
[submodule "libraries/ESPAsyncUDP"]
	path = libraries/ESPAsyncUDP
	url = https://github.com/me-no-dev/ESPAsyncUDP.git
[submodule "libraries/Syslog"]
	path = libraries/Syslog
	url = https://github.com/arcao/Syslog.git
[submodule "libraries/ArduinoJson"]
	path = libraries/ArduinoJson
	url = https://github.com/bblanchon/ArduinoJson.git
